# fly.toml app configuration file generated for one-true-pairing on 2023-08-14T21:03:03+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "one-true-pairing"
primary_region = "cdg"
kill_signal = "SIGTERM"
swap_size_mb = 512

[build]

[deploy]
  release_command = "/app/bin/migrate"

[env]
  PHX_HOST = "one-true-pairing.fly.dev"
  PORT = "8080"
  FLY_SCALE_TO_ZERO = "15m"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]
  [http_service.concurrency]
    type = "connections"
    hard_limit = 1000
    soft_limit = 1000
