<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>

  <div class="my-4">
    <.input field={f[:name]} type="text" label="Name" />
  </div>

  <div class="my-4">
    <.input field={f[:has_left_project]} type="checkbox" label="Has left project?" />
  </div>

  <:actions>
    <.button>Save Person</.button>
  </:actions>
</.simple_form>
