<!-- Classic Mac OS menu bar -->
<div class="mac-menubar">
  <span class="mac-menubar-title">&#63743;</span>
  <span class="mac-menubar-item">File</span>
  <span class="mac-menubar-item">Edit</span>
  <span class="mac-menubar-item">View</span>
  <span class="mac-menubar-item">Special</span>
</div>

<div class="mac-desktop">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</div>
